*{
    cursor: crosshair;
    user-select: none;
}
#scoreCounter, #magazine{
    text-align: center;
    font-size: xx-large;
    text-transform: uppercase;
}
body{
    background-image: url(../img/winterwonderland.avif);
    background-size: cover;
    overflow: hidden;
}
#emu{
    max-width: 350px;
    max-height: 350px;
    user-select: none;
    position: absolute;
    display: none;
  width: 150px;
  height: 150px;
  transition: top 1.5s; 
  animation: 3s animace infinite linear;
}

@keyframes animace {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}